@model MovieReviews.Models.Review

<h2>@ViewBag.Title</h2>

<div>
    <h4>@ViewBag.Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Director
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Director)
        </dd>
        <dt>
            Released
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.year)
        </dd>
    </dl>
    <div class="body-content">
        <p class="text-primary">
            @Html.DisplayFor(model => model.Body)
        </p>
        <p>- @ViewBag.Author</p>

    </div>
</div>
<p>
    @Html.ActionLink("Other Reviews", "All")
</p>
