@model IEnumerable<MovieReviews.Models.Review>

@{
    ViewBag.Title = "My Reviews";
}

<h2>My Reviews</h2>
<table class="table">
    <tr>
        <th>
            Reviewer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.User == null)
            {
                <p>Anonymous</p>
            } else
            {
            @Html.DisplayFor(modelItem => item.User.UserName)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="breakword">
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.ActionLink("Read Full", "Details", new { id=item.Id }) <br />
            @Html.ActionLink("Edit", "Edit", new { id=item.Id}) <br/>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
