@model MovieReviews.Models.Movie

<h2>@Model.Title</h2>

<div>
    <h4>@Model.year</h4>
    <h5>@Model.Director</h5>
    <hr />
    <dl class="dl-horizontal">
            @if(ViewBag.Reviews != null)
            {
                foreach (var review in ViewBag.Reviews)
                {
                    <h3>@review.Title</h3>
                    <div>@review.Body</div>
                   <a href="/Reviews/Details/@review.Id">Review Page</a>

                }
            }

    </dl>
</div>
